<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Interview-X</span>
</nav>

<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-4" style="border-right: 1px solid #eee;">
      <div *ngFor="let candidate of candidates;let i = index" class="candidate-item"
           [ngStyle]="{color: selectedCandidate === i ? '#2595ff' : '#000'}" (click)="selectCandidate(i)">
        {{candidate.name}}
      </div>
    </div>
    <div class="col-8">
      <form class="form-inline">
        <div class="form-group mb-2" style="width: 100%">
          <label class="mr-2">Name: </label>
          <input type="text" class="form-control" [(ngModel)]="candidates[selectedCandidate]['name']"
                 name="nameField" style="width: 75%">
        </div>
        <div class="form-group mb-2" style="width: 100%">
          <label class="mr-2">Email: </label>
          <input type="text" class="form-control" [(ngModel)]="candidates[selectedCandidate]['email']"
                 name="emailField" style="width: 75%">
        </div>
        <div class="form-group mb-2" style="width: 100%">
          <label class="mr-2">Date: </label>
          <input type="date" class="form-control" [ngModel]="candidates[selectedCandidate]['appointmentDate'] | date:'yyyy-MM-dd'"
                 name="dateField" style="width: 75%" (ngModelChange)="candidates[selectedCandidate]['appointmentDate'] = $event">
        </div>
        <div class="form-group mb-2" style="width: 100%">
          <label class="mr-2">Move forward: </label>
          <input type="checkbox" class="form-control" [(ngModel)]="candidates[selectedCandidate]['moveForward']"
                 name="moveField" style="width: 75%">
        </div>
        <div class="form-group mb-2" style="width: 100%">
          <label class="mr-2">Interview transcription: </label>
          <input type="text" class="form-control" [(ngModel)]="candidates[selectedCandidate]['interviewTranscription']"
                 name="moveField" style="width: 75%">
        </div>
        <div class="form-group mb-2" style="width: 100%">
          <label class="mr-2">Action result: </label>
          <input type="text" class="form-control" [(ngModel)]="candidates[selectedCandidate]['actionResult']"
                 name="moveField" style="width: 75%">
        </div>
      </form>
    </div>
  </div>

</div>
